# Build folders
build/
build-*/
out/

# Qt Creator
.qtcreator/
*.pro.user
*.qmlproject.user
*.qmlls.ini
.qtc_clangd/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
.cmake/
.qt/
.rcc/
meta_types/
qmltypes/
*_autogen/
CMakeUserPresets.json

# Visual Studio / VSCode
.vs/
.vscode/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.obj
*.exe
*.dll
*.lib
